/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5 Jun, 2017, 10:03:19 PM
    Author     : shrey
*/

*{
    margin: 0px;
    padding: 0px;
    list-style-type: none; 
 }
 
 header{
     background: #35424a;
     color:#ffffff;
     padding-top: 20px;
     min-height: 120px;
     border-bottom: #e8491d 3px solid;
 }
 .box{
     float:left;
     width: 30%;
     text-align: center;
     padding: 10px;
 }