/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 4 Jun, 2017, 10:35:32 AM
    Author     : shrey
*/
*{
    margin: 0px;
    padding: 0px;
    list-style-type: none; 
 }
 
 header{
     background: #35424a;
     color:#ffffff;
     padding-top: 20px;
     min-height: 120px;
     border-bottom: #e8491d 3px solid;
 }
.box{
     float: left;
     width: 30%;
     text-align: center;
     padding: 10px;  
}
hr{
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
#seeMore{
    float: right;
    font-size: 20px;
}